.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.main h2 {
    margin: 2rem 0;
}

.main input {
    margin: 0.5rem 0;
    width: 250px;
    display: flex;
}
